 .setting-button {
    border: 0px solid #fff;
    background-color: white;
    font-size: 0.7em;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
    position: fixed;
    bottom: 30px;
    right: 30px;
    .material-icons{
      color: #2B78FE;
    }
  }
   
  .setting-button:hover {
   cursor: pointer;
   transform: scale(1.2, 1.2);
 }
   
 .setting-button:active {
   border-color: #003557;
 }